.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .formulario-container {
    display: flex;
    justify-content: space-between;
  }
  
  .columna {
    width: 48%; /* Ajusta según sea necesario */
  }
  